
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
#about {
  padding-top: 50px;
  margin-top: 60px;
  height: 100px;
  display: inline;
}
#info{
	margin-top: 30px;
}
#picture{
	margin-top: 80px;
	margin-left: 250px;
	border-radius:10px;
    border-width:5px;
    border-style:solid;
    border-color:#7B68EE;
}

#button {
  margin-top: 5px;
}

#info > h1 {
  color: blue;
}

#works {
  margin-top: 10px;
  margin-bottom: 10px;
}
#port {
  background-color: #FBFDCA;
}

hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr.star-primary:after {
    content: "\2605";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}
hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
#portfolio1{
	border-radius:10px;
    border-width:5px;
    border-style:solid;
    border-color:#DA70D6;
    width:60%;
    margin-left: 250px;
    margin-top: 30px;
    display: block;
}
p.ex1 {
	
	font: italic bold 12px/30px Georgia, serif;
}
h3 {
	color: #0000FF
}
#contact {
  background-color: #A0A09E;
  color: white;
}
#theend {
	background-color: #A0A09E;
	color: white;
}